<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Yahoo</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid" style="margin-top:80px;">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <table class="table table-bordered">
                <thead>
                <tr>

                    <th>任务创建时间</th>
                    <th>任务状态</th>
                    <th>完成比例</th>
                    <th>下载数据</th>
                </tr>
                </thead>
                <tbody>
                {% for t in tasks %}
                <tr>

                    <td>{{t.created_time}}</td>

                    <td>{{t.status}}</td>
                    <td>{{t.success}}</td>
                    <td><a href="/download/?datetime={{t.date_time}}">download</a></td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/create">
                <button type="button" class="btn btn-primary btn-lg btn-block">新建任务</button>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>